body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

#mission-container {
  background-color: white;
  background-image: url("./Assets/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
}

.subheaders {
  background-color: black;
  text-align: center;
  flex-grow: 1;
}

#tea-otm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

#tea-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tea-grid figure {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#tea-grid figure img {
  height: 200px;
  width: 300px;
  padding: 10px;
}
