body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

main {
  margin-left: 20px;
  margin-right: 20px;
}

#mission-container {
  background-color: white; /* in case img fails to load */
  background-image: url("./Assets/img-mission-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
}

.subheaders {
  background-color: black;
  text-align: center;
  flex-grow: 1;
}

#tea-otm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 50px;
}

#tea-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tea-grid figure {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#tea-grid figure img {
  height: 200px;
  width: 300px;
  padding: 10px;
}

#locations-container {
  background-color: white; /* in case img fails to load */
  background-image: url("./Assets/img-locations-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#locations {
  display: flex;
}

.location {
  background-color: black;
  opacity: 1;
  width: 300px;
  margin: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 200px;
  margin: 50px;
}

footer {
  display: flex;
  justify-content: flex-start;
}

header {
  height: 69px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: seashell;
  margin: 0px 10px 0px 10px;
}

header img {
  height: 50px;
  float: left;
  padding-top: 5px;
  padding-right: 10px;
}

header nav {
  float: right;
  padding-top: 15px;
  padding-left: 10px;
}
